<h2><%= I18n.t('devise.registration.edit') %><%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: resource } %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= t('devise.registration.password_field') %></i><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %>
        <%= t('devise.registration.password_length') %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= t('devise.registration.password_confirmation') %></i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registration.update') %>
  </div>
<% end %>

<div>
  <%= t('devise.registration.unhappy') %>
  <%= button_to t('devise.registration.cancel_account'),
                registration_path(resource_name),
                data: { turbo_confirm: t('devise.registration.confirm_delete') },
                method: :delete %>
</div>

<%= link_to t('views.link_back'), :back %>
