<h2><%= I18n.t('devise.registration.edit') %><%= @user.name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: resource } %>

  <div class="form-group buffer-top">
    <%= f.label :email, class: 'col-sm control-label bi bi-envelope-heart' %>
    <div class="col-sm-4">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group buffer-top">
    <%= f.label :password, class: 'col-sm control-label bi bi-pen' %>
    <i><%= t('devise.registration.password_field') %></i>
    <div class="col-sm-4">
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %>
          <%= t('devise.registration.password_length') %></em>
      <% end %>
    </div>
  </div>

  <div class="form-group buffer-top">
    <%= f.label :password_confirmation, class: 'col-sm control-label bi bi-pen-fill' %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group buffer-top">
    <%= f.label :current_password, class: 'col-sm control-label bi bi-pen-fill' %>
    <i><%= t('devise.registration.password_confirmation') %></i>
    <div class="col-sm-4">
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group buffer-top">
    <div class="col-sm-offset-2 col-sm-4">
      <div class="btn btn-success bi bi-fire">
        <%= f.submit t('devise.registration.update'), class: 'btn' %>
      </div>
    </div>
<% end %>

<p class="buffer-both"><%= t('devise.registration.unhappy') %></p>
<div class="col-sm-offset-2 col-sm-4">
  <div class="btn btn-danger ">
    <%= button_to t('devise.registration.cancel_account'),
                  registration_path(resource_name),
                  method: :delete,
                  form: {
                    data: {
                      turbo: false,
                      controller: "confirmation",
                      action: 'submit->confirmation#confirm',
                      confirmation_message_value: t('devise.registration.confirm_delete'),
                    }
                  }, class: 'btn bi bi-patch-exclamation-fill' %>

  </div>
</div>
<%= link_to t('views.link_back'), :back %>
</div>
