<%= form_for(@user, data: { turbo: false }, html: { multipart: true }) do |f| %>
  <%= render partial: "partials/form_errors", locals: { model: @user } %>

  <div class="col-md-4 buffer-top">
    <div class="form-group buffer-top">
      <i class="bi bi-person-circle"></i>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group buffer-top">
      <i class="bi bi-envelope-heart"></i>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group buffer-both">
      <%= f.label :avatar, class: "form-label" %>
      <p><%= image_tag(user_avatar_thumb(@user)) if @user.avatar.persisted? %></p>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>

    <div class="actions buffer-top">
      <div class="btn btn-success bi bi-fire">
        <%= f.submit t('views.link_submit'), class: 'btn' %>
      </div>
      <%= t('views.link_or') %>
      <%= link_to t('views.link_back'), :back %>
    </div>
  </div>
<% end %>
