<%= form_for(@event, data: { turbo: false }) do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: @event } %>

  <div class="col-md-6 buffer-top">
    <div class="form-group buffer-top">
      <%= f.label :title, class: 'bi bi-card-text' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group buffer-top">
      <%= f.label :address, class: 'bi bi-geo-fill' %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group buffer-top">
      <i class="bi bi-calendar-heart-fill"></i>
      <%= f.label :datetime %>
      <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
    </div>

    <div class="form-group buffer-top">
      <i class="bi bi-chat-heart-fill"></i>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="actions buffer-top">
      <div class="btn btn-success bi bi-fire">
        <%= f.submit t('views.link_submit'), class: 'btn' %>
      </div>
      <%= t('views.link_or') %>
      <%= link_to t('views.link_back'), :back %>
    </div>
<% end %>
</div>
